*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-weight: 600;
  background-color: var(--color-details);
  border-radius: var(--bd-radius-xs);
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  color: var(--color-font);
  padding-left: 1.5rem;
  padding-bottom: 0.75rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
}

button,
input {
  cursor: pointer;
}

#root,
#__next {
  isolation: isolate;
}
