.container {
  display: grid;
  place-items: center;
  margin-inline: auto;
  max-width: 76rem;
  gap: 4rem;
  padding-block: 2rem;
}
.title {
  font-size: var(--font-size-1);
  text-align: center;
}
.span {
  background-color: var(--color-details);
  color: var(--color-font);
  padding: 0.2rem 0.5rem;
}
.buttons {
  display: grid;
  column-gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
}
